<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mnogomov — Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/custom.css">
        <script src="/static/js/script.js"></script>
    </head>
    <body>
        <div class="container-fluid text-center text-white">
            <div class="row">
                <div class="col-md-3 fixed-top">
                    <div class="row">
                        <img src="../static/assets/images/mnogomov_title" class="img-fluid" alt="Mnogomov">
                    </div>
                    <div class="d-grid gap-2">
                        <a href="/homepage" class="btn btn-light button-text-color">Learning</a>
                        <a href="/practice" class="btn btn-light button-text-color">Practice</a>
                        <a href="/about" class="btn btn-light button-text-color">About us</a>
                    </div>
                </div>
                <div class="col-md-6 offset-md-3">
                    <div class="container">
                        <div class="d-grid gap-2">
                            <div class="unit">
                                <div class="card">
                                    <img src="../static/assets/images/aesthetic" class="card-img-top" alt="Aesthetic">
                                    <div class="card-body">
                                        <h5 class="card-title text-start"><a href="/vocabulary">Unit 1</a></h5>
                                        <p class="card-text text-secondary">Text</p>
                                        <a href="/lesson" class="btn btn-primary">Begin lesson!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="unit">
                                <div class="card">
                                    <img src="../static/assets/images/aesthetic" class="card-img-top" alt="Aesthetic">
                                    <div class="card-body">
                                        <h5 class="card-title text-start"><a href="/vocabulary">Unit 2</a></h5>
                                        <p class="card-text text-secondary">Text</p>
                                        <a href="/lesson" class="btn btn-primary">Begin lesson!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="unit">
                                <div class="card">
                                    <img src="../static/assets/images/aesthetic" class="card-img-top" alt="Aesthetic">
                                    <div class="card-body">
                                        <h5 class="card-title text-start"><a href="/vocabulary">Unit 3</a></h5>
                                        <p class="card-text text-secondary">Text</p>
                                        <a href="/lesson" class="btn btn-primary">Begin lesson!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-9  fixed-top">
                    <div class="row">
                        <div class="col">
                            <img src="../static/assets/images/mnogomov_logo" class="img-fluid" alt="Mnogomov">
                        </div>
                        <div class="col">
                            <h1>?</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
