<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mnogomov — Main</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
    </head>
    <body>
        <div class="sidebar_l"></div>
      <div class="container">
        <div class="container2">
            <div class="unit">
                <div class="submenu"><a href="/lesson">Unit 1</a>
                    <ul>
                        <li>point1</li>
                        <li>point2</li>
                        <li>point3</li>
                    </ul>
                    <button id="redirectToLesson1">Begin lesson!</button>
                </div>
            </div>
            </div>
            <div class="unit">
                <div>
                    <div class="submenu"><a href="/lesson">Unit 2</a>
                        <ul>
                            <li>point1</li>
                            <li>point2</li>
                            <li>point3</li>
                        </ul>
                        <button onclick="redirectToLesson()">Begin lesson!</button>
                    </div>
                </div>
            </div>
            <div class="unit">
                <ul>
                    <li class="submenu"><a href="/lesson">Unit 3</a>
                        <ul>
                            <li>point1</li>
                            <li>point2</li>
                            <li>point3</li>
                        </ul>
                        <button onclick="redirectToLesson()">Begin lesson!</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar_r"></div>
    </body>
</html>