<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TEST</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lesson.css">
  </head>
  <body>
    <p>{{ question[2] }}</p>
    <picture>
      <img src="../static/img/mnogomov_panasovych.png" alt="SomePicture"/><br>
    </picture>
    <answer>
      <input class="answer-option" type="radio" name="question_answer" value="1">{{ question[3] }}<br>
      <input class="answer-option" type="radio" name="question_answer" value="2">{{ question[4] }}<br>
      <input class="answer-option" type="radio" name="question_answer" value="3">{{ question[5] }}<br>
    </answer>
    <check>
      <input type="submit" value="Submit">
    </check>
    {% if current_question < 10 %}
    <button onclick="window.location.href='/'">Return to main</button>
    {% endif %}
  </body>
</html>
