<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Vocabulary</title>
    <link rel="stylesheet" type="text/css" href="../static/css/vocabulary.css">
	<style>
		.container {
			display: flex;
		}
		.text-column {
			flex: 1;
			padding: 20px;
		}
		.image-column {
			flex: 1;
			display: flex;
			flex-direction: column;
			position: relative;
            left: 500px;
			justify-content:center;
		}
		.image {
			margin-bottom: 20px;
		}
	</style>
  </head>
  <body>
	<header>
	  <h1>VOCABULARY</h1>
      <h2>Today we learn the topic of '/'</h2>
	</header>
	<main>
	  <div class="container">
          <div class="text-column">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
		  <div class="image-column">
			  <img src="../static/img/mnogomov_panasovych.png" alt="Зображення 1" class="image" style="padding: 20px;">
			  <img src="../static/img/mnogomov_panasovych.png" alt="Зображення 2" class="image" style="padding: 20px;">
			  <img src="../static/img/mnogomov_panasovych.png" alt="Зображення 3" class="image" style="padding: 20px;">
			  <img src="../static/img/mnogomov_panasovych.png" alt="Зображення 4" class="image" style="padding: 20px;">
              <img src="../static/img/mnogomov_panasovych.png" alt="Зображення 5" class="image" style="padding: 20px;">
		  </div>
	  </div>
	</main>
  </body>
</html>
